<h2 id="all-movies">All Movies</h2>
{{#if user}}<p><a class="btn" href="/movies/new">+ New Movie</a></p>{{/if}}

<form class="filter" action="/movies#all-movies" method="get">
  <input type="hidden" name="page" value="1" />
  <label>Category
    <select name="category_id" onchange="this.form.submit()">
      <option value="">All</option>
      {{#each categories}}
        <option value="{{id}}" {{#if (eq id ../selectedCategoryId)}}selected{{/if}}>{{name}}</option>
      {{/each}}
    </select>
  </label>
  <noscript><button type="submit">Filter</button></noscript>
  {{#if selectedCategoryId}}
    <a class="btn" href="/movies?page=1#all-movies">Clear</a>
  {{/if}}
  <hr />
  </form>

<div class="grid">
  {{#each movies}}
    <article class="card">
      {{#if poster_path}}
        <a href="/movies/{{id}}"><img class="poster" src="{{poster_path}}" alt="{{title}} poster" /></a>
      {{/if}}
      <h3 class="title"><a href="/movies/{{id}}">{{title}}</a></h3>
      <p class="meta"><b>Category:</b> {{category}} · <b>Rating:</b> {{rating}}/10</p>
      <p class="synopsis">{{synopsis}}</p>
    </article>
  {{/each}}
</div>

<div class="pagination">
  {{#times totalPages}}
    <a class="page-link {{#if (eq ../page this)}}active{{/if}}" href="/movies?page={{this}}{{#if ../selectedCategoryId}}&category_id={{../selectedCategoryId}}{{/if}}#all-movies">{{this}}</a>
  {{/times}}
</div>
